@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

:root {
  --xl: 1200px;
  --lg: 992px;
  --md: 768px;
  --sm: 576px;
  --xs: 320px;
}

* {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  padding-left: 0;
  list-style: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

/* global Button */
.darkblue {
  color: #fff;
  background-color: #0a2640;
  border: 2px solid #0a2640;
}

.transparent {
  color: #0a2640;
  background-color: #fff;
  border: 2px solid #0a2640;
}

.green {
  color: #0a2640;
  background-color: #65e4a3;
  border: 2px solid #65e4a3;
}

.darkblue:hover {
  color: #0a2640;
  background-color: #fff;
}

.green:hover {
  background-color: #4ec788;
  border-color: #4ec788;
}

.transparent:hover {
  color: #fff;
  background-color: #0a2640;
}
