.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  padding: 56px 100px 0;
  background-color: #fff;
}

.menu {
  display: none;
  position: absolute;
  top: 36px;
  left: 30px;
  width: 38px;
  height: 38px;
  border-radius: 10px;
  padding: 6px;
  overflow: hidden;
  cursor: pointer;
}

.menu:hover {
  background-color: #e8e6e6;
}

.menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  display: block;
  width: auto;
  height: 70px;
}

.nav {
  display: flex;
}

.list {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.item {
  margin-right: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-40 {
  font-size: 15px;
  line-height: 24px;
  padding: 8px 30px;
  border-radius: 24px;
}

.button-right-pad {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    flex-direction: column;
    padding: 24px 40px 0;
  }

  .menu {
    display: block;
  }

  .logo {
    height: 66px;
  }

  .list {
    display: none;
  }

  .buttons {
    display: none;
  }

  .mypage {
    display: none;
  }

  .logoutBtn {
    font-size: 14px;
    padding: 6px 18px;
  }
}
