.main {
  padding: 140px;
  background-color: #fff;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px 0;
  margin-right: 150px;
}

.main-right {
  width: 45%;
  height: auto;
  overflow: hidden;
}

.main-right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  margin-bottom: 40px;
}

.detail {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #777777;
  margin-bottom: 84px;
}

.button-60 {
  width: 200px;
  font-size: 23px;
  line-height: 28px;
  padding: 16px 56px;
  border-radius: 56px;
}
