.content {
  padding: 96px 100px;
  background-color: #fafaff;
}

.category {
  color: #777777;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.title {
  color: #000;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 84px;
}

.card-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-item:not(:last-child) {
  margin-right: 20px;
}

.card {
  width: 280px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fafaff;
  box-shadow: 0px 10px 60px rgba(113, 116, 120, 0.2);
  transition: background-color 150ms ease-in-out;
}

.card:hover {
  background-color: rgba(79, 233, 164, 0.7);
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 170px;
  overflow: hidden;
  border-radius: 18px;
  margin-bottom: 10px;
}

.card-image img {
  display: block;
  width: 90%;
  height: 75%;
  object-fit: cover;
}

.detail {
  position: relative;
  top: -10px;
  padding: 15px 35px;
}

.detail-title {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 12px;
}

.detail-desc {
  font-size: 16px;
}

@media screen and (max-width: 992px) {
  .content {
    padding: 76px 100px;
  }

  .title {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 70px;
  }

  .card {
    width: 230px;
    height: 310px;
  }

  .detail-title {
    font-size: 20px;
  }

  .detail-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 64px 40px;
  }

  .category {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }

  .title {
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 54px;
  }

  .card-list {
    flex-direction: column;
  }

  .card {
    flex-direction: row;
    width: 420px;
    height: 220px;
    padding: 0 24px;
  }

  .card-item:not(:last-child) {
    margin-bottom: 28px;
    margin-right: 0px;
  }

  .card-image {
    width: 200px;
    height: 170px;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .card-image img {
    height: 60%;
  }

  .detail {
    position: static;
    max-width: 200px;
    padding: 0;
  }

  .detail-title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .detail-desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .content {
    padding: 40px 26px;
  }

  .category {
    font-size: 16px;
  }

  .title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 50px;
  }

  .card {
    flex-direction: column;
    width: 250px;
    height: 320px;
  }

  .card-image {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .card-image img {
    height: 80%;
  }

  .detail-title {
    font-size: 18px;
  }

  .detail-desc {
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .content {
    padding: 40px 26px;
  }

  .category {
    font-size: 16px;
  }

  .title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 50px;
  }
}
