.info {
  background-color: #0a2640;
  padding: 96px 0;
}

.category {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.title {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 84px;
}

.info-list {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-item p {
  color: #4fe9a4;
  font-weight: 700;
  font-size: 68px;
  line-height: 56px;
  margin-bottom: 14px;
}

.info-item span {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
