text {
  font-size: 18px;
}

.graph-wrapper {
  width: 100%;
  margin-top: 50px;
}

.graph {
  width: 520px;
  height: 520px;
}

.title {
  margin-bottom: 20px;
}

.title h1 {
  font-size: 28px;
  font-weight: 900;
}

.title p {
  font-size: 16px;
  color: #9e9d9d;
  margin-top: 6px;
}

@media screen and (max-width: 1200px) {
  .graph {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 992px) {
  .graph {
    width: 580px;
    height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .graph {
    width: 540px;
    height: 540px;
  }

  .title h1 {
    font-size: 28px;
    font-weight: 900;
  }

  .title p {
    font-size: 15px;
    color: #9e9d9d;
    margin-top: 6px;
  }
}

@media screen and (max-width: 580px) {
  .graph {
    margin-left: -30px;
    width: 440px;
    height: 440px;
  }

  .title h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .graph {
    margin-left: -20px;
    width: 330px;
    height: 330px;
  }

  .title h1 {
    font-size: 24px;
  }
}
