.wrapper {
  /* margin: 80px 0 100px 0; */
  padding: 100px 100px 200px 100px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  width: 100%;
  color: #0a2640;
  padding: 20px;
  border: 3px solid #e8e6e6;
  border-radius: 8px;
  margin-bottom: 30px;
}

.summary h1 {
  font-size: 25px;
  margin-bottom: 25px;
}

strong {
  color: #0a2640;
}

.detail {
  color: #000;
}

.tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tips h3 {
  margin-bottom: 10px;
}

.tips p {
  margin-bottom: 35px;
}
